body {
  box-sizing: border-box;
  margin: 0;
}

#main {
  display: flex;
  max-width: 1024px;
  background-color: rgb(245, 245, 245);
  margin: 25px auto;
  border-radius: 10px;
  flex-direction: column;
  color: rgb(35, 35, 35);
}

#title-box {
  justify-content: center;
}

#title {
  text-align: center; 
  font-size: 56px;
}

#img-div {
  max-width: 90%;
  margin: 0 auto;

}

#image {
  display: block;
  max-width: 100%;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 10px;
  padding: 3px;
}

#tribute-info {
  font-size: 20px;
  margin: 10px 50px;
  text-align: justify;
}

#footer {
  text-align: center;
  margin: 10px 50px;
}