body {
  box-sizing: border-box;
  margin: 0;
}


#main {
  display: flex;
  max-width: 1024px;
  /* height: 766px; */
  background-color: rgb(245, 245, 245);
  margin: 25px auto;
  border-radius: 10px;
  flex-direction: column;
  color: rgb(35, 35, 35);
}

#title-box {
  /* width: 100%; */
  justify-content: center;
  /* background: blue; */
}

#title {
  text-align: center; 
  font-size: 56px;
}

#img-div {
  max-width: 80%;
  margin: 0 auto;

}

#image {
  display: block;
  max-width: 100%;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 10px;
  padding: 3px;
}

#tribute-info {
  /* align-items: center; */
  /* width: 100%; */
  font-size: 20px;
  /* background: green; */
  margin: 10px 50px;
  text-align: justify;
}

#footer {
  /* background-color: aqua; */
  text-align: center;
  margin: 10px 50px;
}